<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>取得対象</h3>
      </div>
      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="height:600px;">
          <div class="x_title">
            <h2>一覧</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <table>
            <tr>
              <td>id</td>
              <td>target_information_id</td>
              <td>format</td>
              <td>url</td>
            </tr>
            <%= form_for @target, url:'targets', :method => 'get' do |t| %>
            <tr>
              <td><%= t.text_field :id %></td>
              <td><%= t.text_field :target_information_id %></td>
              <td><%= t.select :format, Target.formats.keys%></td>
              <td><%= t.text_field :url %></td>
              <td><%= submit_tag("search") %></td>
            </tr>
            <% end %>

            <% @targets.each do |target| %>
            <tr>
              <td><%= target.id %></td>
              <td><%= target.target_information_id %></td>
              <td><%= target.format %></td>
              <td><%= target.url %></td>
              <td><%= link_to('編集', edit_target_path(target), :method => :get) %></td>
              <td><%= link_to('削除', target_path(target), :method => :delete, :data => {confirm:'削除しますか？'}) %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
